<section class="main">
  <section class="wrapper">
    <section class="main-container">
      <section class="main-container-left">
        <h1>Trivia Quiz</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
        <a mat-raised-button routerLink="/game" routerLinkActive="active">Play the game ></a>
      </section>
      <section class="main-container-right">
        <svg width="2396" height="2557" viewBox="0 0 2396 2557" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="logo">
          <path id="Ellipse 13" d="M1818.12 2223.01C1709.32 2285.82 1573.81 2330.99 1425.19 2353.98C1276.58 2376.96 1120.1 2376.96 971.485 2353.98L1198.34 1865.21L1818.12 2223.01Z" fill="#FF00F5"/>
          <path id="Ellipse 14" d="M971.47 2353.97C822.855 2330.99 687.34 2285.82 578.546 2223.01C469.752 2160.2 391.513 2081.97 351.691 1996.18L1198.33 1865.21L971.47 2353.97Z" fill="#FF9900"/>
          <path id="Ellipse 15" d="M2044.98 1734.24C2084.8 1820.03 2084.8 1910.37 2044.98 1996.16C2005.16 2081.96 1926.92 2160.19 1818.12 2223L1198.34 1865.2L2044.98 1734.24Z" fill="#1D90E3"/>
          <path id="Ellipse 16" d="M351.697 1996.18C311.876 1910.38 311.876 1820.05 351.697 1734.25C391.518 1648.46 469.758 1570.22 578.552 1507.42L1198.33 1865.21L351.697 1996.18Z" fill="#42CB47"/>
          <g id="floating">
          <path id="Ellipse 17" d="M1424.18 202.452C1572.79 225.441 1708.31 270.608 1817.1 333.415C1925.89 396.222 2004.13 474.455 2043.96 560.25L1197.32 691.214L1424.18 202.452Z" fill="#A615B2"/>
          <path id="Vector 2" d="M1199 691V950L2044 820V559L1199 691Z" fill="#7C1984" stroke="#7C1984"/>
          </g>
          <path id="Ellipse 19" d="M1425.18 1376.45C1573.8 1399.44 1709.31 1444.61 1818.1 1507.42C1926.9 1570.22 2005.14 1648.45 2044.96 1734.25L1198.33 1865.21L1425.18 1376.45Z" fill="#CBCBCB"/>
          <path id="Vector 1" d="M1418.5 1828.5V1382L1197.5 1864L1418.5 1828.5Z" fill="#EAE220" stroke="#EAE220"/>
          <path id="Ellipse 18" d="M578.551 1507.39C687.345 1444.59 822.86 1399.42 971.475 1376.43C1120.09 1353.44 1276.57 1353.44 1425.18 1376.43L1198.33 1865.19L578.551 1507.39Z" fill="#FFF623"/>
          </g>
          </svg>

      </section>
    </section>
  </section>
</section>
<section class="categories">
  <section class="wrapper categories-container">
    <h1>Test your knowledge with multiple categories</h1>
    <section class="categories-list">
      <section class="categories-item">
        <mat-icon aria-hidden="false" aria-label="history icon">history_edu</mat-icon>
        <p>History</p>
      </section>
      <section class="categories-item">
        <mat-icon aria-hidden="false" aria-label="sport icon">sports_soccer</mat-icon>
        <p>Sports & Leisure</p>
      </section>
      <section class="categories-item">
        <mat-icon aria-hidden="false" aria-label="map icon">map</mat-icon>
        <p>Geography</p>
      </section>
      <section class="categories-item">
        <mat-icon aria-hidden="false" aria-label="movie icon">movie</mat-icon>
        <p>Entertainment</p>
      </section>
      <section class="categories-item">
        <mat-icon aria-hidden="false" aria-label="book icon">book</mat-icon>
        <p>Arts & Literature</p>
      </section>
      <section class="categories-item">
        <mat-icon aria-hidden="false" aria-label="science icon">science</mat-icon>
        <p>Science & Nature</p>
      </section>
    </section>
  </section>
</section>
