<section class="main">
  <section class="wrapper">
    <section class="main-container">
      <section class="main-container-left">
        <h1>Trivia Quiz</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
        <a mat-raised-button routerLink="/game" routerLinkActive="active">Play the game ></a>
      </section>
      <section class="main-container-right">
        <p>image</p>
      </section>
    </section>
  </section>
</section>
<section class="categories">
  <section class="wrapper">
    <section class="categories-container">
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
      </section>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
      </section>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
      </section>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
      </section>
    </section>
  </section>
</section>
