<section class="main">
  <section class="wrapper">
    <section class="main-container">
      <section class="main-container-left">
        <h1>Trivia Quiz</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
        <a mat-raised-button routerLink="/game" routerLinkActive="active">Play the game ></a>
      </section>
      <section class="main-container-right">
        <svg width="2396" height="2557" viewBox="0 0 2396 2557" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="logo">
          <g id="Ellipse 13" filter="url(#filter0_i)">
          <path d="M1818.12 2223.01C1709.32 2285.82 1573.81 2330.99 1425.19 2353.98C1276.58 2376.96 1120.1 2376.96 971.485 2353.98L1198.34 1865.21L1818.12 2223.01Z" fill="#FF00F5"/>
          </g>
          <g id="Ellipse 14" filter="url(#filter1_i)">
          <path d="M971.47 2353.97C822.855 2330.99 687.34 2285.82 578.546 2223.01C469.752 2160.2 391.513 2081.97 351.691 1996.18L1198.33 1865.21L971.47 2353.97Z" fill="#FF9900"/>
          </g>
          <g id="Ellipse 15" filter="url(#filter2_i)">
          <path d="M2044.98 1734.24C2084.8 1820.03 2084.8 1910.37 2044.98 1996.16C2005.16 2081.96 1926.92 2160.19 1818.12 2223L1198.34 1865.2L2044.98 1734.24Z" fill="#1D90E3"/>
          </g>
          <g id="Ellipse 16" filter="url(#filter3_i)">
          <path d="M351.697 1996.18C311.876 1910.38 311.876 1820.05 351.697 1734.25C391.518 1648.46 469.758 1570.22 578.552 1507.42L1198.33 1865.21L351.697 1996.18Z" fill="#42CB47"/>
          </g>
          <g id="floating">
          <path id="Ellipse 17" d="M1424.18 202.452C1572.79 225.441 1708.31 270.608 1817.1 333.415C1925.89 396.222 2004.13 474.455 2043.96 560.25L1197.32 691.214L1424.18 202.452Z" fill="#A615B2"/>
          <path id="Vector 2" d="M1199 691V950L2044 820V559L1199 691Z" fill="#7C1984" stroke="#7C1984"/>
          </g>
          <g id="Ellipse 19" filter="url(#filter4_i)">
          <path d="M1425.18 1376.45C1573.8 1399.44 1709.31 1444.61 1818.1 1507.42C1926.9 1570.22 2005.14 1648.45 2044.96 1734.25L1198.33 1865.21L1425.18 1376.45Z" fill="#CBCBCB"/>
          </g>
          <path id="Vector 1" d="M1418.5 1828.5V1382L1197.5 1864L1418.5 1828.5Z" fill="#EAE220" stroke="#EAE220"/>
          <g id="Ellipse 18" filter="url(#filter5_i)">
          <path d="M578.551 1507.39C687.345 1444.59 822.86 1399.42 971.475 1376.43C1120.09 1353.44 1276.57 1353.44 1425.18 1376.43L1198.33 1865.19L578.551 1507.39Z" fill="#FFF623"/>
          </g>
          </g>
          <defs>
          <filter id="filter0_i" x="971.484" y="1865.21" width="846.634" height="510.003" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="8"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
          </filter>
          <filter id="filter1_i" x="351.691" y="1865.21" width="846.634" height="492.762" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="8"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
          </filter>
          <filter id="filter2_i" x="1198.34" y="1734.24" width="876.5" height="492.762" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="8"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
          </filter>
          <filter id="filter3_i" x="321.83" y="1507.42" width="876.5" height="492.762" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="8"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
          </filter>
          <filter id="filter4_i" x="1198.32" y="1376.45" width="846.634" height="492.762" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="8"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
          </filter>
          <filter id="filter5_i" x="578.551" y="1359.19" width="846.634" height="510.003" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="8"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
          </filter>
          </defs>
          </svg>
      </section>
    </section>
  </section>
</section>
<section class="categories">
  <section class="wrapper">
    <section class="categories-container">
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
      </section>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
      </section>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
      </section>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat pariatur fugit, explicabo veritatis minima in consectetur cum incidunt ipsam ipsum ut labore quibusdam provident fugiat odit! Alias error quas deleniti qui eum veritatis aliquam harum deserunt quia laboriosam, consequatur in quasi quisquam corrupti a. Dolor, repudiandae reiciendis quaerat temporibus doloremque delectus nesciunt, id illo sint aliquam pariatur deleniti eveniet.</p>
      </section>
    </section>
  </section>
</section>
