.wrapper {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-header{
  background-color:white;
  padding:5px !important;
  height: 30px;
}

.mat-card{
  padding:0 !important;
  width: 410px;
  height: 500px;
}

.mat-card-content{
  padding:16px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}
